.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  max-width: 100%;
  margin-top: 80px;
  background: linear-gradient(108deg, #348f50, #56b4d3);
}
.form_wrap {
  display: flex;
  flex-direction: row;
  background: #2b2b2b;
  height: 650px;
  width: 80%;
}
.list_recommend {
  width: 30%;
  /* max-height: 100%; */
}
.map {
  position: relative;
  background: #2b2b2b;
  width: 70%;
}
.search {
  position: absolute;
  z-index: 2;
  margin: 10px 20px;
  right: 10px;
}
#search_h5 {
  color: #2b2b2b !important;
}
.input-group {
  width: 100%;
}




#map_title {
  color: white;
  text-align: center;
  margin: 4px;
  position: relative;
}



/* .container_2 {
height: 650px;
width: 800px;
} */
.leaflet-container {
position: relative;
height: 600px;
z-index: 1;
margin-right: 2px;
}