.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    max-width: 100%;
    margin-top: 80px;
    background: linear-gradient(
      108deg,
      rgba(1, 147, 86, 1) 0%,
      rgba(10, 201, 122, 1) 100%
    );
    
  }
  .form_wrap1 {
    display: flex;
    flex-direction: column;
    background: #2b2b2b;
    height: 650px;
    width: 80%;
  }
  .list_recommend {
    width: 30%;
    /* max-height: 100%; */
  }
#_title{
  text-align: center;
  color: white;
  margin: 20px 0 35px 0;
}
h5 {
  color: white;
}
.truck {
  display: flex;
  flex-direction: row;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 5%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 35%;
  border-right: #171717 solid 2px;
}
.output_wrapper {
  padding: 0px 4%;
}
._btn_tinhtien {
    background:crimson;
    padding: 8px 55px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.form4 {
  font-size: 1.0rem !important;
  padding: 15px 10px;
}

.gram_input {
  margin: 0;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  border: 1px solid #fff;
  max-width: 179px;
}
.gram_input:hover {
  background-color: #f8f9fa;
}

#output_title {
  font-weight: bold;
}
.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}