.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  margin: 0 0;
  height: 85%;
}


.card_estimate_table {
  width: 80%;
  height: 500px;
  display: flex;
  background-color: white;
  filter: blur(5px);
  border-radius: 6px;
  z-index: 100;
  margin-bottom: 0;
  filter: drop-shadow(0 6px 20px rgba(19, 96, 240, 0.217));
  flex-direction: column;
}
.card_estimate_table:hover {
  backdrop-filter: blur(8px);
}

.form_title {
  text-align: center !important;
  background-color: burlywood;
  padding: 10px 0;
}
.form1 {
  margin: 40px 20px;  
}
.form2 {
  margin: 0px 20px;  
}
.form3 {
  margin: 40px 20px 20px;  
}
.gram_input {
  padding: 6px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  padding-bottom: 10px !important;
  border: 1px solid #fff;
}
.gram_input:hover {
  background-color: #f8f9fa;
}
.btn_wrap {
  margin: 10px;
  margin-top: 16px !important
}