#map_title {
    color: white;
    text-align: center;
    margin: 4px;
    position: relative;
}



/* .container_2 {
  height: 650px;
  width: 800px;
} */
.leaflet-container {
  position: relative;
  height: 600px;
  z-index: 1;
  margin-right: 2px;
}